<template>
  <div class="mt-5">
    <h1>Agregar un nuevo chofer</h1>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-row>
                <b-col md="8">
                    <!-- nombre chofer -->
                    <b-form-group
                        id="input-group-1"
                        label="Nombre Chofer:"
                        label-for="input-1"
                    >
                    <b-form-input
                    id="input-1"
                    v-model="nombre_chofer"
                    type="text"
                    placeholder="Ingrese el nombre del chofer"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <!-- rut chofer -->
                    <b-form-group
                        class="mt-5"
                        id="input-group-1"
                        label="Rut Chofer:"
                        label-for="input-1"
                        description="Si el RUT finaliza en K, reemplácelo por un 1."
                    >
                    <b-form-input
                    id="input-1"
                    v-model="rut_chofer"
                    type="number"
                    placeholder="Ingrese el RUT del chofer, sin puntos ni guión"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <!-- botones -->
                    <div class="mt-5">
                        <b-button type="submit" variant="primary" style="margin-right: 10px">Agregar</b-button>
                        <b-button type="reset">Limpiar</b-button>
                    </div>
                </b-col>
            </b-row>
        </b-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
 name: 'NuevoChofer',
 data(){
   return{
       nombre_chofer: '',
       rut_chofer: '',
       show: true
   }
 },
methods: {
    onSubmit(event) {
        event.preventDefault()
        // alert(JSON.stringify(this.form))
        this.$confirm("¿Está segur@ que desea agregar este nuevo chofer?").then(() => {
            axios.post('http://127.0.0.1:8000/api/choferes/create', 
                {nombre_chofer: this.nombre_chofer,
                rut_chofer: this.rut_chofer}
                )
                .then(response => {
                // console.log(response);
                // this.response = response.data
                this.success = 'Data saved successfully';
                this.response = JSON.stringify(response, null, 2);
                this.$alert("Se han ingresado los datos satisfactoriamente");
                this.onReset(event);
                })
                .catch(function (error) {
                    this.response = 'Error: ' + error.response.status;
                    this.$alert("Ha ocurrido un error. Inténtalo nuevamente");
                });
        });
    },
    onReset(event) {
        event.preventDefault()
        // Reset fields
        this.nombre_chofer = '',
        this.rut_chofer = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
}
</script>