<template>
  <div class="mt-5">
    <h1>Agregar un nuevo trayecto</h1>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-row>
                <b-col md="8">
                    <!-- origen -->
                    <b-form-group
                        id="input-group-1"
                        label="Origen:"
                        label-for="input-1"
                    >
                    <b-form-input
                    id="input-1"
                    v-model="origen"
                    type="text"
                    placeholder="Ciudad de origen"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <!-- destino -->
                    <b-form-group
                        class="mt-5"
                        id="input-group-2"
                        label="Destino:"
                        label-for="input-2"
                    >
                    <b-form-input
                    id="input-1"
                    v-model="destino"
                    type="text"
                    placeholder="Ciudad de destino"
                    required
                    ></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col md="8">
                    <!-- horario de salida -->

                    <!-- Bus -->
                    <!-- <b-form-group id="input-group-3" label="bus:" label-for="input-3" class="mt-5">
                        <b-form-select
                        id="input-3"
                        v-model="bus"
                        :options= "data_bus"
                        required
                        >
                        </b-form-select>
                    </b-form-group> -->
                    <p class="mt-5">Seleccione bus</p>
                    <select v-model="selected">
                        <option v-for="option in options" :value="option" :key="option.id_bus">
                            {{ option.patente }}
                        </option>
                    </select>
                    <!-- Chofer -->
                    <p class="mt-5">Seleccione chofer</p>
                    <select v-model="chofer">
                        <option v-for="item in data_chofer" v-bind:key="item.id_chofer">
                            {{ item.nombre_chofer }}
                        </option>
                    </select>
                    <!-- botones -->
                    <div class="mt-5">
                        <b-button type="submit" variant="primary" style="margin-right: 10px">Agregar</b-button>
                        <b-button type="reset">Limpiar</b-button>
                    </div>
                </b-col>
            </b-row>
        </b-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'NuevoTrayecto',
    data() {
        return {
            origen: '',
            destino: '',
            horario_salida: '',
            selected: null,
            chofer: '',
            options: [],
            data_chofer: [],
            show: true
        }
    },
    mounted() { 
        axios
        .get('http://127.0.0.1:8000/api/buses/list')
        .then((response) => {
            // console.log(response);
            let res = JSON.stringify(response.data, null, 1);
            // console.log(res);
            this.options = res;
            // console.log(this.options);
        }),
        axios
            .get('http://127.0.0.1:8000/api/choferes/list')
            .then((response) => {
                // console.log(response.data);
                this.data_chofer = JSON.stringify(response.data);
        })  
    },
    methods: {
        onSubmit(event) {
            event.preventDefault()
            // alert(JSON.stringify(this.form))
            this.$confirm("¿Está segur@ que desea crear este nuevo trayecto?").then(() => {
                axios.post('http://127.0.0.1:8000/api/trayecto/create', 
                    {
                        origen: this.origen,
                        destino: this.destino,
                        horario_salida: this.horario_salida,
                        id_bus: this.bus,
                        id_chofer: this.chofer,
                    })
                    .then(response => {
                    // console.log(response);
                    // this.response = response.data
                    this.success = 'Data saved successfully';
                    this.response = JSON.stringify(response, null, 2);
                    this.$alert("Se han ingresado los datos satisfactoriamente");
                    this.onReset(event);
                    })
                    .catch(function (error) {
                        this.response = 'Error: ' + error.response.status;
                        this.$alert("Ha ocurrido un error. Inténtalo nuevamente");
                    });
            });
        },
        onReset(event) {
            event.preventDefault()
            // Reset fields
            this.nombre_chofer = '',
            this.rut_chofer = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
}
</script>