<template>
  <div id="app">
    <div id="nav">
        <h1>{{ msg }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VentaPasajes',
  props: {
    msg: String
  }
}

</script>