<template>
    <div class="mt-5">
        <h3>buses</h3>
          <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Patente</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="bus in buses" v-bind:key="bus.id"> 
          <th scope="row">{{bus.id}}</th>
          <td>{{bus.patente}}</td>
          <td>--</td>
          <td>--</td>
        </tr>
      </tbody>
    </table> 
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ConfigBus',
    data() {
        return {
            buses: null
        };
    },
    created: function () {
        axios
            .get('http://127.0.0.1:8000/api/buses/list')
            .then(function (response) {
                this.buses = response.data;
            })
    },
    methods: {
      borrarBus(id) {
        axios
          .delete('http://127.0.0.1:8000/api/buses/delete/${id}')
          .then(response => {
            console.log("Se ha eliminado el bus")
          })
      }
    }
}
</script>
