<template>
  <div class="mt-5">
    <h1>Agregar un nuevo bus al sistema</h1>
    <div class="mt-5">
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-row>
                <b-col md="6">
                    <b-form-group
                        id="input-group-1"
                        label="Patente:"
                        label-for="input-1"
                    >
                    <b-form-input
                    id="input-1"
                    v-model="patente"
                    type="text"
                    placeholder="Ingrese la patente del bus"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <div class="mt-5">
                        <b-button type="submit" variant="primary"  style="margin-right: 10px">Agregar</b-button>
                        <b-button type="reset">Limpiar</b-button>
                    </div>
                </b-col>
            </b-row>
        </b-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
 name: 'NuevoBus',
 data(){
   return{
       patente: '',
       show: true
   }
 },
methods: {
    onSubmit(event) {
        event.preventDefault()
        // alert(JSON.stringify(this.form))
        this.$confirm("¿Está segur@ que desea agregar esta patente al sistema?").then(() => {
            axios.post('http://127.0.0.1:8000/api/buses/create', {patente: this.patente}
                )
                .then(response => {
                console.log(response);
                // this.response = response.data
                this.success = 'Data saved successfully';
                this.response = JSON.stringify(response, null, 2);
                this.$alert("Se han ingresado los datos satisfactoriamente");
                this.onReset(event);
                })
                .catch(function (error) {
                    this.response = 'Error: ' + error.response.status;
                    this.$alert("Ha ocurrido un error. Inténtalo nuevamente");
                });
        });
    },
    onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.patente = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
}
</script>