<template>
  <div class="mt-5">
    <h1>Nueva venta de pasajes</h1>

  <b-row class="mt-5">
    <b-col cols="12" md="6">
      <form>
        <b-card>
          <b-form-input type="text">

          </b-form-input>
          <b-button variant="dark">Agregar</b-button>
        </b-card>
      </form>
    </b-col>
  </b-row>
  </div>
</template>

<script>

export default {
 name: 'NuevaVenta',
 data(){
   return{

   }
 }
}
</script>

