<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="danger">
      <b-container>
        
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">Pasaje bus</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

          <b-navbar-nav>
            <b-nav-item :to="{name: 'Home'}" exact>Home</b-nav-item>

            <!-- bus -->
            <b-nav-item-dropdown text="Bus" right>
              <b-dropdown-item :to="{name: 'agregarBus'}">Agregar</b-dropdown-item>
              <!-- <b-dropdown-item href="#">Editar</b-dropdown-item>
              <b-dropdown-item href="#">Ver detalle</b-dropdown-item> -->
              <b-dropdown-item :to="{name: 'configBus'}">Configuración buses</b-dropdown-item>
            </b-nav-item-dropdown>

            <!-- choferes -->
            <b-nav-item-dropdown text="Choferes" right>
              <b-dropdown-item :to="{name: 'nuevoChofer'}">Agregar</b-dropdown-item>
              <b-dropdown-item href="#">Configuración choferes</b-dropdown-item>
            </b-nav-item-dropdown>

            <!-- Trayecto -->
            <b-nav-item-dropdown text="Trayecto" right>
              <b-dropdown-item :to="{name: 'nuevoTrayecto'}">Agregar</b-dropdown-item>
              <b-dropdown-item href="#">Configuración trayectos</b-dropdown-item>
            </b-nav-item-dropdown>

            <!-- Pasajero -->
            <b-nav-item-dropdown text="Pasajero" right>
              <b-dropdown-item :to="{name: 'nuevoPasajero'}">Agregar</b-dropdown-item>
              <b-dropdown-item href="#">Editar</b-dropdown-item>
              <b-dropdown-item href="#">Ver detalle</b-dropdown-item>
              <b-dropdown-item href="#">Eliminar un pasajero</b-dropdown-item>
            </b-nav-item-dropdown>
            
            <!-- Boleto -->
            <b-nav-item-dropdown text="Boleto" right>
              <b-dropdown-item :to="{name: 'nuevaVenta'}">Agregar</b-dropdown-item>
              <b-dropdown-item href="#">Editar</b-dropdown-item>
              <b-dropdown-item href="#">Ver detalle</b-dropdown-item>
              <b-dropdown-item href="#">Eliminar un boleto</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>

        </b-collapse>

      </b-container>
    </b-navbar>

    <b-container>
      <router-view/>
    </b-container>

  </div>
</template>

