<template>
  <div class="mt-5">
    <img alt="bus logo" width="60%" src="../assets/bus2.png">
    <VentaPasajes msg="Bienvenid@ al sistema de venta de pasajes"/>
  </div>
</template>

<script>
// @ is an alias to /src
import VentaPasajes from '@/components/VentaPasajes.vue'

export default {
  name: 'Home',
  components: {
    VentaPasajes
  }
}
</script>
